body {
  font-family: "Overpass", sans-serif;
  color: #fff;
  text-align: center;
}
.container {
  display: inline-block;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  width: 80%;
  padding-bottom: 30px;
}
